@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

body {
  width: 100vw;
  display: inline-block;
  font-family: 'Ubuntu', 'Roboto';
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

header {
  background-color: #5673cc;
  color: #fff;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 70px;
  font-family: 'Ubuntu', 'Roboto';
}

li {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  font-family: 'Ubuntu', 'Roboto';
}

a {
  color: #fff;
  text-decoration: none;
  height: 75px;
  width: 75px;
  font-family: 'Ubuntu';
}

main {
  display: flex;
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}
span {
  display: inline-block;
}

th {
  padding: 150px;
  line-height: 25px;
}

text1 {
  display: flex;
  padding: 150px;
}

#link1 {
  color: blue;
}
h1 > a#TitleHeader {
  color: #fff;
  text-decoration: none;
}

ul.menu {
  list-style: none;
  font-weight: 500;
  display: flex;
}

ul.menu > li > a {
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  margin-inline: 15px;
}

ul.menu > li > a:hover {
  border-bottom: 2px solid #fff;
}
